<meta name="apple-mobile-web-app-title" content="JeanCarloEM" />

<link
	rel="icon"
	type="image/png"
	href="https://jcem.pro/logo/favicon-96x96.png"
	sizes="96x96"
/>

<link
	type="image/svg+xml"
	href="https://jcem.pro/logo/favicon.svg"
	rel="icon"
/>

<link rel="shortcut icon" href="https://jcem.pro/logo/favicon.ico" />

<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="https://jcem.pro/logo/apple-touch-icon.png"
/>
<link rel="manifest" href="https://jcem.pro/logo/site.webmanifest" />

<style>
	noscript,
	* {
		font-family: 'Noto Sans', 'Segoe UI', 'Tahoma', sans-serif;
	}

	noscript,
	html,
	body {
		margin: 0;
		padding: 0;
		height: 100vh;
	}

	:root {
		--blue: #c08282;
		--blue2: orange;
		--amber: #cc4c1e;
		--bg: #ebebeb;
		--text: #222;
		--radius: 0.5em;
	}

	body > div.main_jcem_wrapper {
		display: none;
	}

	/* Loader top bar */
	body > .loader-bar {
		top: 0;
		left: 0;
		width: 100%;
		height: 0.5em;
		background: linear-gradient(
			90deg,
			transparent 0%,
			var(--blue2) 30%,
			var(--blue2) 70%,
			transparent 100%
		);
		background-size: 200% 100%;
		animation: loading 1.5s linear infinite;
		z-index: 9998;
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
	}

	@keyframes loading {
		0% {
			background-position: 200% 0;
		}
		100% {
			background-position: -200% 0;
		}
	}

	noscript {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 9999;
		background: #ddd;
		font-size: 0.95rem;
	}

	noscript,
	noscript > *,
	noscript * {
		color: #333;
	}

	/* noscript > main  box */
	noscript > main {
		display: inline-block;
		background: #fff;
		border-radius: var(--radius);
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
		max-width: 28em;
		margin: 1em;
		height: fit-content !important;
		padding: 1.5em;
		border: 0.1em solid var(--blue);
	}

	noscript > main > h1 {
		font-size: 1.5em;
		font-weight: 700;
		color: #fff;
		margin-bottom: 0.3em;
		display: flex;
		align-items: center;
		gap: 0.5em;
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		background: #845050;
		padding: 0.5em 1em;
		margin: 0 -1.1em;
		margin-top: -1.1em;
		max-height: 2.7em;
	}

	noscript > main h1 span {
		margin: 0.2em;
		font-size: 1.8em;
	}

	noscript > main p {
		margin: 0.2em 0;
		line-height: 1.4;
		text-align: left;
	}

	noscript > main .lang {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 1em;
		padding-top: 0.5em;
		font-size: 0.9em;
	}

	noscript > main .lang:first-of-type {
		border-top: none;
	}

	noscript > main > .lang h2 {
		color: var(--blue);
		display: block;
		margin-bottom: 0.2em;
		font-size: 0.9em;
		margin: 0 !important;
	}

	noscript > main strong,
	noscript > main > .lang strong {
		color: var(--amber);
		font-size: 1.05em;
		font-style: italic;
		margin-left: 0.4em;
	}

	noscript > main > p span {
		font-size: 1.3em;
		vertical-align: text-bottom;
	}

	noscript > main {
		text-align: left;
	}

	@media (max-width: 600px) {
		noscript > main {
			width: 85vw;
			padding: 1em;
		}
		noscript > main > h1 {
			font-size: 1.3em;
		}
	}
</style>

<script>
	Element.prototype.on = (e, f) => this.addEventListener(e, f);

	const _ = (x) => document.querySelector(x);

	document.addEventListener('DOMContentLoaded', () => {
		try {
			_('body > noscript').style.display = 'none';
		} catch (error) {}
		_('body > .main_jcem_wrapper').style.display = 'block';
	});
</script>
