<div class="jcem-noscript">
	<main class="jcem-noscript__panel">
		<h1><span>⚠️</span>Problem / Problema / 问题</h1>

		<div class="jcem-noscript__lang">
			<h2>🇺🇸 English</h2>
			<p>
				<span>⚠️</span>
				<strong>JavaScript is disabled.</strong><br />
				JavaScript is required to manage your agreement with the Terms of Use,
				Privacy Notice and consent preferences.
			</p>
		</div>

		<div class="jcem-noscript__lang">
			<h2>🇧🇷 Português</h2>
			<p>
				<span>⚠️</span>
				<strong>O JavaScript está desativado.</strong><br />
				O JavaScript é necessário para gerenciar sua adesão aos Termos de Uso,
				Aviso de Privacidade e preferências de consentimento.
			</p>
		</div>

		<div class="jcem-noscript__lang">
			<h2>🇪🇸 Español</h2>
			<p>
				<span>⚠️</span>
				<strong>JavaScript está deshabilitado.</strong><br />
				JavaScript es necesario para gestionar su aceptación de los Términos de
				Uso, Aviso de Privacidad y preferencias de consentimiento.
			</p>
		</div>

		<div class="jcem-noscript__lang">
			<h2>🇨🇳 中文（普通话）</h2>
			<p>
				<span>⚠️</span>
				<strong>JavaScript 已被禁用。</strong><br />
				需要启用 JavaScript 以管理您对使用条款、隐私声明和同意偏好的确认。
			</p>
		</div>
	</main>
</div>
