@use './theme_var/dark' as DARK;
@use 'sass:map';

/* ==========================================================================
   Dark skin
   ========================================================================== */

$jcem-dark-colors: map.merge(DARK.$theme-colors, DARK.get-theme-mix());

/* Colors */
$background-color: map.get($jcem-dark-colors, 'bg') !default;
$text-color: map.get($jcem-dark-colors, 'tc') !default;
$primary-color: map.get($jcem-dark-colors, 'pri') !default;
$border-color: map.get($jcem-dark-colors, 'bc') !default;
$code-background-color: map.get($jcem-dark-colors, 'cbg') !default;
$code-background-color-dark: map.get($jcem-dark-colors, 'cbgd') !default;
$form-background-color: map.get($jcem-dark-colors, 'fbg') !default;
$footer-background-color: map.get($jcem-dark-colors, 'ftbg') !default;
$link-color: map.get($jcem-dark-colors, 'link') !default;
$link-color-hover: map.get($jcem-dark-colors, 'link-h') !default;
$link-color-visited: map.get($jcem-dark-colors, 'link-v') !default;
$masthead-link-color: map.get($jcem-dark-colors, 'mlink') !default;
$masthead-link-color-hover: map.get($jcem-dark-colors, 'mlink-h') !default;
$navicon-link-color-hover: map.get($jcem-dark-colors, 'nav-h') !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
	color: inherit;
}

.ais-search-box .ais-search-box--input {
	background-color: $form-background-color;
}
