.masthead__inner-wrap .site-logo img {
    max-height: 3rem !important;
    height: 3rem;
    width: auto;
}

.jcem-foot{
    font-size: .9rem;
    margin: 5rem 0;    
    opacity: .9;
    
}
.jcem-foot,
.jcem-foot *{
    text-align: justify;
}