<!-- Loader top bar -->
<div class="loader-bar"></div>

<noscript>
	<main>
		<h1><span>⚠️</span>Problem / Problema / 问题</h1>

		<div class="lang">
			<h2>🇺🇸 English</h2>
			<p>
				<span>⚠️</span><strong>JavaScript is disabled.</strong><br />
				This prevents automatic redirection to your destination.
			</p>
		</div>

		<div class="lang">
			<h2>🇧🇷 Português</h2>
			<p>
				<span>⚠️</span><strong>O JavaScript está desativado.</strong
				><br />
				Isso impede o redirecionamento automático para o destino.
			</p>
		</div>

		<div class="lang">
			<h2>🇪🇸 Español</h2>
			<p>
				<span>⚠️</span><strong>JavaScript está deshabilitado.</strong
				><br />
				Esto impide la redirección automática al destino.
			</p>
		</div>

		<div class="lang">
			<h2>🇨🇳 中文（普通话）</h2>
			<p>
				<span>⚠️</span><strong>JavaScript 已被禁用。</strong><br />
				这会阻止自动跳转到目标页面。
			</p>
		</div>
	</main>
</noscript>
