/* ==========================================================================
   TABLES
   ========================================================================== */

table {
	display: block;
	margin-bottom: 1em;
	width: 100%;
	font-family: $global-font-family;
	font-size: $type-size-6;
	border-collapse: collapse;
	overflow-x: auto;

	& + table {
		margin-top: 1em;
	}
}

thead {
	background-color: $border-color;
	border-bottom: 2px solid var(--tblb);
}

th {
	padding: 0.5em;
	font-weight: bold;
	text-align: start;
}

td {
	padding: 0.5em;
	border-bottom: 1px solid va(--tblb);
}

tr,
td,
th {
	vertical-align: middle;
}
