/* 
  Silktide Consent Manager - https://silktide.com/consent-manager/  

  Styles are at risked of being overridden by styles coming from the site the consent manager is used on.
  To help prevent this, global wrapper elements are prefixed with "#silktide-"
*/

/* --------------------------------
  Global Styles - These elements exist in the main DOM and styling is limited to positioning and animation
-------------------------------- */
/* Wrapper (Global) */
#silktide-wrapper {
	--focus: 0 0 0 2px #ffffff, 0 0 0 4px #000000, 0 0 0 6px #ffffff;
	--boxShadow: -0.5em 0.5em 0.7em 0px #00000012, 0px 0px 2em 0px #000;
	--primaryColor: #104b74;
	--backgroundColor: #ffffff;
	--textColor: #333;
	--backdropBackgroundColor: #0000004d;
	--backdropBackgroundBlur: 0.2em;
	--cookieIconColor: #333;
	--cookieIconBackgroundColor: #ffffff;
	--ref_size: 0.85rem;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	pointer-events: none;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Backdrop (Global) */
#silktide-backdrop-global {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	border: 0px;
	display: none;
}

/* --------------------------------
  Links
-------------------------------- */
#silktide-wrapper a {
	overflow: hidden;
	all: unset;
	display: inline-block;
	color: var(--primaryColor);
	text-decoration: none !important;
	cursor: pointer;

	&.silktide-logo:hover &.silktide-logo:hover {
		color: var(--textColor);
	}

	&.silktide-logo::after {
		display: none;
	}
}

/* --------------------------------
  Focus Styles
-------------------------------- */
#silktide-wrapper a:focus,
#silktide-wrapper #silktide-banner button:focus,
#silktide-wrapper #silktide-modal button:focus,
#silktide-wrapper #silktide-cookie-icon:focus {
	outline: none;
	box-shadow: var(--focus);
	border-radius: 0.3125em;
}

#silktide-wrapper #silktide-cookie-icon:focus {
	border-radius: 50%;
}

/* --------------------------------
  General Styles
-------------------------------- */

#silktide-wrapper .st-button {
	color: var(--backgroundColor);
	background-color: var(--primaryColor);
	border: 2px solid var(--primaryColor);
	padding: 0.625em 1.25em;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 1em;
	line-height: 1.5em;
	cursor: pointer;
	border-radius: 0.3125em;
}

#silktide-wrapper .st-button--primary {
}

#silktide-wrapper .st-button--primary:hover {
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
}

#silktide-wrapper .st-button--secondary {
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
}

#silktide-wrapper .st-button--secondary:hover {
	background-color: var(--primaryColor);
	color: var(--backgroundColor);
}

/* --------------------------------
  Banner
-------------------------------- */
#silktide-banner {
	font-size: 0.8rem;
	color: var(--textColor);
	background-color: var(--backgroundColor);
	box-sizing: border-box;
	padding: 2em;
	border-radius: 0.3125em;
	pointer-events: auto;
	border: 0px;
	position: fixed;
	bottom: 4m;
	right: 1em;
	width: 37.5em;
	overflow: hidden;
	max-width: calc(100% - 2em);
	max-height: calc(100vh - 2em);
	transform: translate(0, -1.25em);
	opacity: 0;
	animation: silktide-slideInDown 350ms ease-out forwards;
	animation-delay: 0.3s;
	box-shadow: -5px 5px 10px 0px #00000012, 0px 0px 50px 0px #0000001a;
}

#silktide-banner:focus {
	border-radius: 50%;
}

#silktide-banner.center {
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;
	position: fixed;
	transform: translate(-50%, calc(-50% - 1.25em));
	animation: silktide-slideInDown-center 350ms ease-out forwards;
}

#silktide-banner.bottomLeft {
	bottom: 1em;
	left: 1em;
	position: fixed;
}

#silktide-banner.bottomCenter {
	bottom: 4em;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -1.25em);
	animation: silktide-slideInDown-bottomCenter 350ms ease-out forwards;
}

#silktide-banner .preferences {
	padding: 0;
	border: none;
	background: transparent;
	margin: 0;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -0.3em;
	margin-left: 1em;
	width: 2.5em;
	text-align: right;
	&::after {
		display: inline-block;
		gap: 0.3125em;
		border: none;
		margin: 0;
		height: 2em;
		padding: 0;
		padding-left: 0.1em;
		padding-top: 0.95em;
		background-color: transparent;
		color: var(--primaryColor);
		font-size: 2em;
		width: 1.5rem;
		content: '\f013';
		text-decoration: none;
	}
}

#silktide-banner .preferences span {
	display: none;
	white-space: nowrap;
	text-decoration: underline;
}

#silktide-banner .preferences::after:hover {
	color: var(--textColor);
}

#silktide-banner p {
	font-size: 1em;
	line-height: 1.2em;
	margin: 0 0 0.9375em;
	text-align: justify;
}

#silktide-banner a {
	display: inline-block;
	color: var(--primaryColor);
	text-decoration: underline;
	background-color: var(--backgroundColor);
}

#silktide-banner a:hover {
	color: var(--textColor);
}

#silktide-banner a.silktide-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--primaryColor); /* passed down to svg > path */
	margin-left: auto;
	width: 3em;
	height: 3em;
}

#silktide-banner .actions {
	display: flex;
	gap: 1em;
	flex-direction: column;
	margin-top: 1.5em;
}

@media (min-width: 600px) {
	#silktide-banner .actions {
		flex-direction: row;
		align-items: center;
	}
}

#silktide-banner .actions-row {
	display: flex;
	gap: 1em;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

/* --------------------------------
  Modal
-------------------------------- */
#silktide-modal {
	font-size: var(--ref_size);
	display: none;
	pointer-events: auto;
	overflow: auto;
	width: 50em;
	max-width: 100%;
	max-height: 100%;
	border: 0px;
	transform: translate(0px, -1.25em);
	opacity: 0;
	animation: silktide-slideInUp-center 350ms ease-out forwards;
	box-shadow: -5px 5px 10px 0px #00000012, 0px 0px 50px 0px #0000001a;
	color: var(--textColor);
	flex-direction: column;
	padding: 1.875em;
	background-color: var(--backgroundColor);
	border-radius: 0.3125em;
	box-sizing: border-box;
}

/* --------------------------------
  Modal - Header
-------------------------------- */
#silktide-modal header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.25em;
	gap: 1em;
}

#silktide-modal h1 {
	color: var(--textColor);
	font-size: 1.5em;
	font-weight: 500;
	margin: 0;
}

#silktide-modal .modal-close {
	display: inline-flex;
	border: none;
	padding: 0.8125em;
	border: 0px;
	cursor: pointer;
	background: var(--backgroundColor);
	color: var(--primaryColor);
}

#silktide-modal .modal-close svg {
	fill: var(--primaryColor);
}

/* --------------------------------
  Modal - Content
-------------------------------- */

#silktide-modal section {
	flex: 1;
	margin-top: 2em;
}

#silktide-modal section::-webkit-scrollbar {
	display: block; /* Force scrollbars to show */
	width: 0.3125em; /* Width of the scrollbar */
}

#silktide-modal section::-webkit-scrollbar-thumb {
	background-color: var(
		--textColor
	); /* Color of the scrollbar thumb */
	border-radius: 0.625em; /* Rounded corners for the thumb */
}

#silktide-modal p {
	font-size: 1em;
	line-height: 1.5em;
	color: var(--textColor);
	margin: 0 0 0.9375em;
}

#silktide-modal p:last-of-type {
	margin: 0;
}

#silktide-modal fieldset {
	padding: 0;
	border: none;
	margin: 0 0 2em;
}

#silktide-modal fieldset:last-of-type {
	margin: 0;
}

#silktide-modal legend {
	padding: 0;
	margin: 0 0 0.625em;
	font-weight: 700;
	color: var(--textColor);
	font-size: 1em;
}

#silktide-modal .cookie-type-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1.5em;
}

/* --------------------------------
  Modal - Switches
-------------------------------- */
#silktide-modal .switch {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	height: 2.125em;
	width: 4.625em;
	cursor: pointer;
}

#silktide-modal .switch:focus-within {
	outline: none;
	box-shadow: var(--focus);
	border-radius: 1.5625em;
}

#silktide-modal .switch input {
	opacity: 0;
	position: absolute;
}

/* Unchecked Switch Styles */
#silktide-modal .switch__pill {
	position: relative;
	display: block;
	height: 2.125em;
	width: 4.625em;
	background: var(--textColor);
	border-radius: 1.5625em;
}

#silktide-modal .switch__dot {
	position: absolute;
	top: 0.125em;
	left: 0.125em;
	display: block;
	height: 1.875em;
	width: 1.875em;
	background: var(--backgroundColor);
	border-radius: 50%;
	transition: left 150ms ease-out;
}

#silktide-modal .switch__off,
#silktide-modal .switch__on {
	text-transform: uppercase;
	font-size: 0.9375em;
	font-weight: 500;
	color: var(--backgroundColor);
	position: absolute;
	top: 0.4375em;
	right: 0.5em;
	transition: right 150ms ease-out, opacity 150ms ease-out;
}

#silktide-modal .switch__off {
	opacity: 1;
}

#silktide-modal .switch__on {
	opacity: 0;
}

/* Checked Switch Styles */
#silktide-modal .switch input:checked + .switch__pill {
	background: var(--primaryColor);
}

#silktide-modal .switch input:checked ~ .switch__dot {
	left: calc(100% - 2em);
}

#silktide-modal .switch input:checked ~ .switch__off {
	right: calc(100% - 2em);
	opacity: 0;
}

#silktide-modal .switch input:checked ~ .switch__on {
	right: calc(100% - 2.125em);
	opacity: 1;
}

/* Disabled Switch Styles */
#silktide-modal .switch input:disabled + .switch__pill {
	opacity: 0.65;
	cursor: not-allowed;
}

/* --------------------------------
  Modal - Footer
-------------------------------- */
#silktide-modal footer {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1.5em;
}

@media (min-width: 600px) {
	#silktide-modal footer {
		flex-direction: row;
		align-items: center;
	}
}

#silktide-modal footer a {
	margin-left: auto;
	padding: 0.875em 0;
}

/* Cookie Icon */
#silktide-cookie-icon {
	display: none;
	position: fixed;
	bottom: 0.625em;
	left: 0.625em;
	justify-content: center;
	align-items: center;
	width: 3.75em;
	height: 3.75em;
	border-radius: 50%;
	padding: 0;
	border: none;
	background-color: var(--cookieIconColor);
	cursor: pointer;
	box-shadow: 0px 0px 0.375em 0px #0000001a;
	pointer-events: auto;
	animation: silktide-fadeIn 0.3s ease-in-out forwards;
}

#silktide-cookie-icon.bottomRight {
	left: auto;
	right: 0.625em;
}

#silktide-cookie-icon svg {
	fill: var(--cookieIconBackgroundColor);
}

/* --------------------------------
  Backdrop
-------------------------------- */
#silktide-backdrop {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--backdropBackgroundColor);
	backdrop-filter: blur(var(--backdropBackgroundBlur));
	pointer-events: all;
}

/* --------------------------------
  Animations
-------------------------------- */
@keyframes silktide-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes silktide-slideInDown {
	from {
		opacity: 0;
		transform: translateY(-1.25em);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes silktide-slideInDown-center {
	from {
		opacity: 0;
		transform: translate(-50%, calc(-50% - 1.25em));
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes silktide-slideInDown-bottomCenter {
	from {
		opacity: 0;
		transform: translate(-50%, -1.25em);
	}
	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes silktide-slideInUp-center {
	from {
		opacity: 0;
		transform: translate(0px, 1.25em);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}
